@charset "utf-8";
/* 公共CSS */
* {
    margin: 0;
    padding: 0;
}
.gradientBlueColor{
	background: -moz-linear-gradient(#09F, #fff);
    background: -ms-linear-gradient(#09F, #fff);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #09F), color-stop(100%, #fff));
    background: -webkit-linear-gradient(#09F, #fff);
    background: -o-linear-gradient(#09F, #fff);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#09F', endColorstr='#fff');
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#09F', endColorstr='#fff')";
    background: linear-gradient(#fff, #09F);}
.gradientBlueColorFade{
	background: -moz-linear-gradient(#fff, #09F);
    background: -ms-linear-gradient(#fff, #09F);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fff), color-stop(100%, #09F));
    background: -webkit-linear-gradient(#fff, #09F);
    background: -o-linear-gradient(#fff, #09F);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff', endColorstr='#09F');
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff', endColorstr='#09F')";
    background: linear-gradient(#fff, #09F);}
.borderRadius5px{border-radius:5px}
.logobar{float:left;}
.rightbar{float:right;}
ul li{list-style-type:none;line-height:3;float:left;}
a,a:hover{text-decoration:none; color:#333}